img, embed, object, video {
    max-width: 100%;
}

.container, .filter-options {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

.box {
    width: 100%;
}
@media screen and (max-width: 450px){

    nav h1 a {
        font-size: 10pt;
    }
    #restaurant-name, #reviews-container h2, h3 {
        font-size: 16pt;
    }
    .filter-options select, .filter-options h2 {
        width: 80%;
    }

}
@media screen and (min-width: 450px)  and (max-width: 589px){

    .container, {
      width: 440px;
    }

    .filter-options select {
        width: 30%;
    } 
} 

@media screen and (min-width: 590px) {
    .box, {
      width: 42%;
    }

    .filter-options select{
        width: 30%;
    }
}

@media screen and (min-width: 900px) {
    .box{
      width: 28%;
    }
}

/* ===================== Restaurant review page ===================== */

.container1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
.r-box {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .r-box{
      width: 50%;
    }
    #restaurant-hours td, #restaurant-address {
        padding: 0 10px 10px 40px;
        margin: 0;
    }
    #restaurant-address {
        font-size: 14pt;
    }
 
}
